<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
	<div class="linkyMain">
	  <div class="page-header">
	    <div id="linkViewHead1">      
	      About Linky
	    </div>
	      by <a href="https://github.com/broileri" data-toggle="tooltip"  title="\\&#013;&#010;(o>&#013;&#010;(/)&#013;&#010;_|_" data-placement="bottom">broileri</a>     
	  </div>
	  <div class="linkDescriptionBackground">
		  <p>
		  	Linky is a simple link sharing application made by using the MEAN stack: MongoDB, Express.js, Angular.js and Node.js. 
		  </p>
		  <p>
		  	It was originally (8/2016) made for a school project to collect a few study credits, but I've updated it since then to teach myself more about how CRUD operations and information are handled and communicated in Angular and Node. Should work at least on Firefox, Chrome and Edge browsers.
		  </p>


		  <h3>Current Features</h3>
		  <ul>
		  	<li>Users can register, log in and log out.</li>
		  	<li>Logged in users can upvote/downvote individual posts and comments. They can alter the post's/comment's score by one point. Voting cannot be undone, but vote value can be changed from -1 to 1 or from 1 to -1.</li>
		  	<li>Logged in users can comment on posts.</li>
		  	<li>Logged in users can create posts.</li>
		  	<li>Logged in users can delete their own posts.</li>
		  	<li>All users can see the links in the database and view their details such as link description, author and comments.</li>
		  </ul>


		  <h3>Assets</h3>
		  <ul>
			  <li>Background picture, the Ignasi Pattern, is borrowed from <a href="https://www.toptal.com/designers/subtlepatterns/patterns/">here</a>.</li>
			  <li>The Bootstrap theme, Slate, is borrowed from <a href="https://bootswatch.com/slate/">here</a>.</li>
			  <li>Authentication uses <a href="http://passportjs.org/">Passport.js</a></li>
			  <li>jQuery is used for DOM manipulations.</li>
		  </ul>
	  </div>
	</div>
  </div>
  <div class="col-sm-2"></div>
</div>