body { 
	font-size: 100%; 
	text-align: center;
}

.linkyBackground {
	background-image: url(/images/ignasi_pattern_s.png);
  
}


.linkyColor {
	background-color: #F8F8F8;
}


.viewLink {
	font-size: 60%;
}

.linkDescriptionBackground {
	background-color: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	border: #7F7F7F solid 2px;
}


.linkyContent {
	margin-top: 5%;
	margin-right: 2%
	margin-left: 2%;
	color: #595959;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	display: inline-block;
	text-align: left;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 2%;
	width: 50%;
	word-break:break-all;  
}


.linkyContent a:link{
    color: #777;
}

.linksize {
	font-size: 150%;
}

.linkyContent a:visited{
    color: #777;
}

.homeGuide {
	font-size: 130%;
}

.upvotes {
	color: #a6a6a6;
}

.upvoteWrapper {
	margin-right: 3px;
	font-size: 140%;	
}

.linkWrapper {
	font-size: 220%;
	padding-left:10px;
}

.commentBody {	 	
    word-break:break-all;           
}

.commentAuthor {
   margin: 10px;
}

.commentWrapper {
   
}

.bubble 
{
position: relative;
padding: 10px;
background: #FFFFFF;
color: #595959;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #7F7F7F solid 2px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 6px 4px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -4px;
bottom: -6px;
left: 4%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 7px 5px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -5px;
bottom: -9px;
left: 4%;
}

@media screen and (max-width: 700px){
    body {
    	font-size: 100%;
    }
    h1 {
    	font-size: 300%;
    }

    h2 {
    	font-size: 250%;
    }

    h3 {
    	font-size: 100%;
    }

    .bubble:after {
		left: 8%;
	}

	.bubble:before {
		left: 8%;
	}

	.linkyContent {
		width: 80%;
	}
}

@media screen and (max-width: 400px){
  
    .bubble:after {
		left: 12%;
	}

	.bubble:before {
		left: 12%;
	}
}